*{
    font-size: 15px;
}

.landingContainer{
    position: relative;
    color: white;
}

.landingOverlay {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

.homeOverlay {
    position: absolute;
    top: 30vh;
    margin: auto;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

.homeOverlay h3 {
    color: yellow;
    padding: 5px;
}

.homeOverlay ul{
    list-style: none;
    /* text-align: justify; */

}
.homeOverlay ul li{
    padding: 3px;
}

.homeOverlay p {
    font-size: 20px;
}

.eventBackground {
    background-image: linear-gradient(black, blue);
    height: 100vh;
}